{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 banner">
    <div class="name">
      <h1 class="text-center name">
        <strong>
          Welcome to the
          <br />
          Sharp Jr.
          <br />
          Gallery Website
        </strong>
      </h1>
      <!-- <div id="launcher">
        <a href="">
          <button type="button" class="btn btn-warning">
            More Photos
            <span>&#8594;</span>
          </button>
        </a>
      </div> -->
    </div>
  </div>
</div>


  <div class="pic">
    {% for picture in picture %}
  <div class="card mb-3" style="max-width: 540px;margin:1rem;margin-left:5rem;">
    <div class="row g-0">
      <div class="col-md-4">
        <img style="height: 20rem;width: 35rem;" src="{{picture.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 style="color: black;margin-left:20rem" class="card-title"><strong>Sharp Jr.Gallery</strong></h3>
          <p  style="color: black;margin-left:20rem;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{picture.description }}</p>
          <p style="margin-left:20rem" style="font-size: 2px;color:black">{{ picture.date }}</p>
          
        </div>
      </div>
    </div>
  </div>
    {% empty %} {% endfor %}
  </div>
  <style>
    .pic{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      
    }
    .card{
      border-radius: 2rem;
    }


  </style>
  {% endblock content %}

