{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 banner">
    <div class="name">
    <h1 class="text-center name"><strong>Welcome to<br> Sharp Jr.<br>Gallery Website</strong></h1>
    <div id="launcher">
     <a href=""><button type="button" class="btn btn-warning">More Photos<span>&#8594;</span></button></a> 
    </div>
  </div>
  </div>
<div class="container-fluid">
{% for picture in picture %}
  <img src="{{picture.image.url}}" alt="">
  <p>{{picture.description }}</p>
  <p>{{ picture.date }}</p>


{% empty %}
{% endfor %}
</div>

<div class="row" id="email">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="margin-top: 1cm;">
  </div>
  <div class="col-md-3"></div>


</div>
{% endblock content %}