{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 banner">
    <div class="name">
    <h1 class="text-center name">Welcome to<br> Sharp Jr.<br>Gallery Website</h1>
    <div id="launcher">
      <a href="" class="button">More Photos<span>&#8594;</span></a>
      <button type="button" class="btn btn-warning">More Photos<span>&#8594;</span></button>
    </div>
  </div>
  </div>
  <div class="col-md-2"></div>

</div>
<div class="row" id="email">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="margin-top: 1cm;">
  </div>
  <div class="col-md-3"></div>


</div>
{% endblock content %}